.ticket-form {
  text-align: start;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Adicionando espaçamento entre as caixas de texto */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Adicionando espaçamento entre as caixas de texto */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}
