.ticket {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .ticket h4 {
    margin-top: 0;
    font-weight: bold; /* Adicionando negrito ao título */
  }
  
  .ticket p {
    margin: 5px 0;
    font-weight: bold; /* Adicionando negrito ao texto */
  }
  